.mainButton{
    width: max-content;
    min-width: 7rem;
    height: 2.8rem;
    background-color: transparent;
    border: 1px solid rgb(95, 95, 95);
    color: rgb(95, 95, 95);
    border-radius: 8px;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    &:hover{
        cursor: pointer;
        border: 1px solid white;
        color: white;
    }
}