@use '../../style/animations.scss' as *;

.auctionCard {
    height: 500px;
    width: 350px;
    position: relative;
    background-color: #181818;
    box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.75);
    border-radius: 15px;

    &::before {
        position: absolute;
        border-radius: 20px;
        content: "";
        inset: -5px;
        z-index: -1;
        background: linear-gradient(-45deg,
                #00BFFF 0%,
                #7EB6FF 10%,
                #9AC0CD 20%,
                #BFEFFF 30%,
                #F0FFFF 40%,
                #00CED1 50%,
                #ADD8E6 60%,
                #1E90FF 70%,
                #6495ED 80%,
                #87CEFA 90%) repeat 0% 0% / 300% 100%;
        animation: rgb 8s linear infinite;
        filter: blur(5px);
    }

}