body{
    background-color: #181818;
    background-color: rgb(10, 10, 10);
    
}
.overlay {
    --color-gradient-1: #7d7aff80;
    --color-gradient-2: #2121e280;
    --color-gradient-3: #fa313180;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
        at 71% 77%,
        var(--color-gradient-1) 0,
        transparent 21%
      ),
      radial-gradient(at 36% 47%, var(--color-gradient-3) 0, transparent 50%),
      radial-gradient(at 45% 51%, var(--color-gradient-1) 0, transparent 53%),
      radial-gradient(at 73% 44%, var(--color-gradient-2) 0, transparent 54%),
      radial-gradient(at 24% 10%, var(--color-gradient-2) 0, transparent 40%),
      radial-gradient(at 76% 46%, var(--color-gradient-1) 0, transparent 50%);
  
    filter: blur(44px);
    z-index: -1;
    opacity: 0.5;
  }